# Compiled Python files
*.pyc

# Setuptools local dev stuff
.eggs
*.egg-info
build/
docs/_build
dist/

# Swap files
*.swp
.cache

.idea
*.iml
.coverage
.coverage.*
coverage.xml
pytests.xml
.pytest_cache
.mypy_cache

.tox
